body {
    font-family: , sans-serif;
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    margin: 0;
}


.true {
    background-color: #00ff08 !important;
    color: rgb(0, 0, 0);
}

.false {
    background-color: #ff0000 !important; 
    color: rgb(0, 0, 0);
}